# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge documentation data
data/documentation-data.yml binary

.eslintrc.js linguist-detectable=false
rollup.config.js linguist-detectable=false
