*.log

.github
.vscode/
data/
legacy/
media/
node_modules/**
rollup/
scripts/
src/
.editorconfig
.eslintcache
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.prettierignore
.prettierrc.yml
.vscodeignore
pnpm-lock.yaml
pnpm-workspace.yaml
rollup.config.js
tsconfig.json
